<h1><%= @list.name %></h1>

<%= link_to "Go back", lists_path, class: "btn btn-primary"%>
<p><%=link_to 'Delete', list_path(@list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
